 .modal-test {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
 }

.options,
.payment-method,
.credit-form {
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(64, 57, 90) ;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
   font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn.submit {
  background-color: #28a745;
}

.btn.submit:hover {
  background-color: #218838;
}

.input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Arial, sans-serif';
}

p {
  color: #555;
  font-family: 'Arial, sans-serif'
}.modal-test {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.options,
.payment-method,
.credit-form {
  margin-bottom: 20px;
}

 
.btn:hover {
  background-color: #f0f0f0;
  border: 1px solid rgb(64, 57, 90) ;
  color: rgb(64, 57, 90) ;
}

.btn.submit {
  background-color: rgb(64, 57, 90) ;;
}

.btn.submit:hover {
  background-color: white;
  border: 1px solid rgb(64, 57, 90) ;
  color: rgb(64, 57, 90) ;
}

.input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Arial, sans-serif';
}

p {
  color: #555;
  font-family: 'Arial, sans-serif';
}

.dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Arial, sans-serif';
}
