<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="mt-5">
  <app-top-cards [statistics]="statistics"></app-top-cards>

</div> 
<div class="row">
  <div class="col-lg-12">

   </div>
  
</div>
 
<div class="row">
  <!-- column -->
  <div class="col-lg-7">
   </div>
  <div class="col-lg-5">
   </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
 <!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
